name: Backend CI-CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
 
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Setup Node
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: backend/package-lock.json

      # Install dependencies
      - name: Install dependencies
        run: npm ci

      # Run tests
      - name: Run tests
        run: npm test

      # Run coverage
      - name: Run coverage
        run: npm run coverage


 
  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    defaults:
      run:
        working-directory: backend

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Build Docker image
      - name: Build Docker image
        run: docker build -t backend-app .

      # Stop existing container (if running)
      - name: Stop old container
        run: docker stop backend-container || true

      - name: Remove old container
        run: docker rm backend-container || true

      # Run new container
      - name: Run Docker container
        run: docker run -d -p 3000:3000 --name backend-container backend-app
